.idea/ 
mvnw 
mvnw.cmd 
*.log 
target/ 
.DS_Store 
Thumbs.db 
.idea/ 
mvnw 
mvnw.cmd 
*.log 
target/ 
.DS_Store 
Thumbs.db 
*/src/main/resources/firebase/jlpt-practice-test-firebase-adminsdk-fbsvc-db90114924.json
*/src/main/resources/firebase/jlpt-practice-test-firebase-adminsdk-*.json

.history/
node_modules/
k8s/